table{
    width: 100%;
    margin-bottom: 30px;
}
abbr{
    cursor: help;
}
table, td, th{
    border-style: solid;
    border-width: 1px;
}
table caption{
    font-size: 120%;
    font-weight: bold;
}
caption{
    color: black;
}
td, th{
    border-color: rgb(5, 179, 28);
}
tr:hover{
    color: #705c96;
    background-color: #F2F2F2;
}
th{
    background-color: rgb(14, 200, 233);
}
td{
    color: rgb(41, 117, 216);
}
ul{
    font-style: italic;
}
#title-sect{
    color: rgb(9, 58, 194);
    text-align: right;
}
.proj-desc{
    text-align: right;
}
h2{
    color: rgb(71, 148, 110);
}